<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="crm.user.name" value="arthur@ninjabi28.onmicrosoft.com"/>
    <add key="crm.user.password" value="Zxcnbvasdhgf1!"/>
    <add key="crm.orgService.uri" value="https://ninjabi28.api.crm11.dynamics.com/XRMServices/2011/Organization.svc"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/></startup></configuration>
